In [59]:
dir

In [7]:
pwd

'/Users/pichappan/Documents/SamplePython/notebook'

In [8]:
cd ../input

/Users/pichappan/Documents/SamplePython/input

In [4]:
import pandas as pd

In [10]:
#df from a Excel file with tab name cyp
df1 = pd.read_excel("countries_year_population.xlsx","cyp")
df1.head()

       country  year  population
0  Afghanistan  1952     8425333
1  Afghanistan  1957     9240934
2  Afghanistan  1962    10267083
3  Afghanistan  1967    11537966
4  Afghanistan  1972    13079460

def conver

In [ ]:
#df from a Excel file with tab name cyp
df1 = pd.read_excel("countries_year_population.xlsx","cyp")
df1.head()

In [ ]:
#df from a csv file, 3rd row in the file would be the header
df3 = pd.read_csv('countries_short.csv', header=2)
df3.head()

In [ ]:
#df from a csv file, skip 2 rows in the file and then 2nd row would be the header
df4 = pd.read_csv('countries_short.csv', skiprows=2, header=1) 
df4.head()

In [ ]:
#After skipping 1 row we lost the header, then we can pass header=None and column names as argument
df5 = pd.read_csv('countries_short.csv', skiprows=1, header=None, names=["NAME","YEAR","POPULATION"]) 
df5.head()

In [ ]:
#If you need to read only n rows and header row then read with nrows
df6 = pd.read_csv('countries_short.csv', nrows=2) 
df6.head()

In [ ]:
#If you like to replace all invalid numbers to NaN
df7 = pd.read_csv('countries_short.csv', na_values=["NA","N/A", "Not Available", "?", "13079460"]) 
df7.head()

In [ ]:
# Munging/Wrangling We can also do different column level validation with a dictionary
df8 = pd.read_csv('countries_short.csv', na_values=
                      {'country': ["NA","N/A", "Afghanistan", "?", "Unknown"],
                       'year': ["NA","N/A", "Not Available", "?", 0, 1952],
                      'population': ["NA","N/A", "Not Available", "?"],
                      }
                 ) 
df8.head()

In [ ]:
df1.columns

In [ ]:
df1.to_csv('country_out1.csv') # write with index column
df1.to_csv('country_out2.csv', columns=['country','year']) # write only required columns

df1.to_csv('country_out3.csv', index=False) # write without index column
df1.to_csv('country_out4.csv', index=False, columns=['country','year']) # write without index column

df1.to_csv('country_out5.csv', header=False) # write without header row
df1.to_csv('country_out6.csv', index=False, header=False) # write without index column & header row