In [10]:
dir

In [11]:
pwd

'C:\\Users\\pichappan\\Documents\\SamplePython\\input'

In [12]:
cd ../input

C:\Users\pichappan\Documents\SamplePython\input

In [13]:
import pandas as pd

In [14]:
df = pd.read_csv('yahoo-futures.csv', parse_dates=['Date'])
df = pd.read_csv('yahoo-futures.csv')
df

      Futures       Date      Open      High       Low     Close     Volume
0     S&P 500  4/28/2020   2856.75   2913.50   2851.00   2872.50  539830796
1     S&P 500  4/29/2020   2870.50   2947.25   2860.75   2867.25    1653334
2     S&P 500  4/30/2020   2956.50   2965.00   2883.25   2941.00    1910259
3     S&P 500   5/1/2020   2871.50   2879.75   2811.75   2902.50    1576620
4     S&P 500   5/3/2020   2789.00   2797.00   2773.00   2776.50    5184704
5     S&P 500   5/4/2020   2789.00   2835.75   2771.00   2821.75    1463030
6   Dow Jones  4/26/2020  23609.00  23646.00  23535.00  23590.00     371334
7   Dow Jones  4/27/2020  23793.00  24100.00  23725.00  24000.00   62114155
8   Dow Jones  4/28/2020  23932.00  24435.00  23878.00  24052.00   77513725
9   Dow Jones   5/3/2020  23364.00  23399.00  23217.00  23258.00     582802
10  Dow Jones   5/5/2020  23745.00  24053.00  23655.00  23820.00   73589919
11  Dow Jones   5/6/2020  23781.00  23995.00  23428.00  23503.00   74985086
12     Nasdaq  4/27/2020   8836.75   8898.00   8789.00   8819.75  139152562
13     Nasdaq  4/28/2020   8795.50   8945.75   8654.50   8764.25  157506137
14     Nasdaq  4/29/2020   8759.25   9041.00   8733.75   8719.75     417522
15     Nasdaq  4/30/2020   9109.50   9144.75   8875.75   9036.50     448803
16     Nasdaq   5/1/2020   8847.00   8879.00   8672.00   8988.50     403881
17     Nasdaq   5/3/2020   8624.00   8642.25   8562.00   8579.50     955357
18     Nasdaq   5/4/2020   8624.00   8828.00   8556.25   8718.00     376472
19     Nasdaq   5/5/2020   8843.50   9020.00   8822.25   8956.00  138527264

In [15]:
df.pivot(index="Date", columns="Futures", values=['Close','Volume'])

              Close                        Volume
Futures   Dow Jones   Nasdaq  S&P 500   Dow Jones       Nasdaq      S&P 500
Date
4/26/2020   23590.0      NaN      NaN    371334.0          NaN          NaN
4/27/2020   24000.0  8819.75      NaN  62114155.0  139152562.0          NaN
4/28/2020   24052.0  8764.25  2872.50  77513725.0  157506137.0  539830796.0
4/29/2020       NaN  8719.75  2867.25         NaN     417522.0    1653334.0
4/30/2020       NaN  9036.50  2941.00         NaN     448803.0    1910259.0
5/1/2020        NaN  8988.50  2902.50         NaN     403881.0    1576620.0
5/3/2020    23258.0  8579.50  2776.50    582802.0     955357.0    5184704.0
5/4/2020        NaN  8718.00  2821.75         NaN     376472.0    1463030.0
5/5/2020    23820.0  8956.00      NaN  73589919.0  138527264.0          NaN
5/6/2020    23503.0      NaN      NaN  74985086.0          NaN          NaN

In [16]:
# Pivot Table to aggregate data, default aggfunc=mean
df.pivot_table(index='Futures', columns='Date', aggfunc='count', margins=True)
# df.pivot_table(index='Futures', columns='Date', aggfunc='mean', margins=True)

              Close                                                            \
Date      4/26/2020 4/27/2020 4/28/2020 4/29/2020 4/30/2020 5/1/2020 5/3/2020
Futures
Dow Jones       1.0       1.0       1.0       NaN       NaN      NaN      1.0
Nasdaq          NaN       1.0       1.0       1.0       1.0      1.0      1.0
S&P 500         NaN       NaN       1.0       1.0       1.0      1.0      1.0
All             1.0       2.0       3.0       2.0       2.0      2.0      3.0

                                      ...    Volume                      \
Date      5/4/2020 5/5/2020 5/6/2020  ... 4/27/2020 4/28/2020 4/29/2020
Futures                               ...
Dow Jones      NaN      1.0      1.0  ...       1.0       1.0       NaN
Nasdaq         1.0      1.0      NaN  ...       1.0       1.0       1.0
S&P 500        1.0      NaN      NaN  ...       NaN       1.0       1.0
All            2.0      2.0      1.0  ...       2.0       3.0       2.0


Date      4/30/2020 5/1/2020 5/3/2020 5/4/2020 5/5/2020 5/6/2020 All
Futures
Dow Jones       NaN      NaN      1.0      NaN      1.0      1.0   6
Nasdaq          1.0      1.0      1.0      1.0      1.0      NaN   8
S&P 500         1.0      1.0      1.0      1.0      NaN      NaN   6
All             2.0      2.0      3.0      2.0      2.0      1.0  20

[4 rows x 55 columns]

In [17]:
df['Date']=pd.to_datetime(df['Date'])
df.pivot_table(index='Futures',columns=pd.Grouper(freq='M', key='Date'),values=['Close','Volume'])

                  Close                      Volume
Date         2020-04-30    2020-05-31    2020-04-30    2020-05-31
Futures
Dow Jones  23880.666667  23527.000000  4.666640e+07  4.971927e+07
Nasdaq      8835.062500   8810.500000  7.438126e+07  3.506574e+07
S&P 500     2893.583333   2833.583333  1.811315e+08  2.741451e+06