In [1]:
dir

In [2]:
pwd

'C:\\Users\\pichappan\\Documents\\SamplePython\\notebook'

In [3]:
cd ../input

C:\Users\pichappan\Documents\SamplePython\input

In [4]:
import pandas as pd

In [5]:
# Transformation of Date Format. US mm/dd/yyyy, EU dd/mm/yyyy, TS yyyy-mm-dd
date_samples = ["02/01/1903 9am", '05/04/1906 9:05', 
                "08/07/09 13:45", '11/10/12 032045',
                "20030201 010203", '20060504 13:15:20',
                "080709 11:20:40", '111012 5pm', 
                "2003-02-01 10:20:15", '2006-05-04 05:10',
                "2003-02-01 25:30:35",'DateString']
pd.to_datetime(date_samples, dayfirst=True, yearfirst=True, errors='coerce') # errors (ignore, raise, coerce)

DatetimeIndex(['1903-01-02 09:00:00', '1906-04-05 09:05:00',
               '2008-09-07 13:45:00', '2011-12-10 03:20:45',
               '2003-02-01 01:02:03', '2006-05-04 13:15:20',
               '2008-09-07 11:20:40', '2011-12-10 17:00:00',
               '2003-02-01 10:20:15', '2006-05-04 05:10:00',
                               'NaT',                 'NaT'],
              dtype='datetime64[ns]', freq=None)

In [6]:
# Custom Date Format - say from a CSV file
pd.to_datetime('01,02,03', format='%m,%d,%y')

Timestamp('2003-01-02 00:00:00')

In [7]:
# Formatting String Literals. We can also pass array as argument
# Epoch Relative time from birth of Unix 1970-01-01, unit('s', 'ns' default)
# pd.to_datetime(1.5*365*24*60*60*10**9) 
ts = pd.to_datetime(1.5*365*24*60*60, unit='s')
print(f"The Datatype of ts is: {type(ts)}\nThe content of ts is: {ts}")
#dir(ts)

The Datatype of ts is: <class 'pandas._libs.tslibs.timestamps.Timestamp'>
The content of ts is: 1971-07-02 12:00:00

In [8]:
# Formatting String Literals. We can also pass int64 as argument
dti = pd.to_datetime([365*24*60*60, 2*365*24*60*60, 3*365*24*60*60], unit='s')
print(f"The Datatype of dti is: {type(dti)}\nThe content of dti is: {dti}")
dti.view('int64')
#dir(dti)

The Datatype of dti is: <class 'pandas.core.indexes.datetimes.DatetimeIndex'>
The content of dti is: DatetimeIndex(['1971-01-01', '1972-01-01', '1972-12-31'], dtype='datetime64[ns]', freq=None)

array([31536000000000000, 63072000000000000, 94608000000000000],
      dtype=int64)

In [9]:
# https://pandas.pydata.org/pandas-docs/version/0.23.4/generated/pandas.Period.html

y2013 = pd.Period('2013')
print(f"y2013 Start Time: {y2013.start_time}; End Time: {y2013.end_time}")

q3y11 = pd.Period('2011Q3') #both are same
q3y11 = pd.Period('2011Q3', freq='Q-DEC')
print(f"q3y11 Start Time: {q3y11.start_time}; End Time: {q3y11.end_time}")

q4y12 = pd.Period("4Q2012", freq='Q-JAN')
print(f"q4y12 Start Time: {q4y12.start_time}; End Time: {q4y12.end_time}")

m2y10 = pd.Period('2010-02')
print(f"m2y10 Start Time: {m2y10.start_time}; End Time: {m2y10.end_time}")

d1474 = pd.Period('2014-07-04') #both are same
d1474 = pd.Period('2014-07-04', freq='D')
print(f"d1474 Start Time: {d1474.start_time}; End Time: {d1474.end_time}")

h1536 = pd.Period('2015-03-06 07:08:09', freq = 'H')
print(f"h1536 Start Time: {h1536.start_time}; End Time: {h1536.end_time}")

y2013 Start Time: 2013-01-01 00:00:00; End Time: 2013-12-31 23:59:59.999999999
q3y11 Start Time: 2011-07-01 00:00:00; End Time: 2011-09-30 23:59:59.999999999
q4y12 Start Time: 2011-11-01 00:00:00; End Time: 2012-01-31 23:59:59.999999999
m2y10 Start Time: 2010-02-01 00:00:00; End Time: 2010-02-28 23:59:59.999999999
d1474 Start Time: 2014-07-04 00:00:00; End Time: 2014-07-04 23:59:59.999999999
h1536 Start Time: 2015-03-06 07:00:00; End Time: 2015-03-06 07:59:59.999999999

In [10]:
h1536 + 3000
h1536 + pd.offsets.Hour(-2)

Period('2015-03-06 05:00', 'H')

In [11]:
d1474 + pd.offsets.Day(365)
d1474 + 365

Period('2015-07-04', 'D')

In [12]:
q2y13 = q4y12 + 2
print(f"q2y13 Start Time: {q2y13.start_time}; End Time: {q2y13.end_time}")
q2y13 - q4y12 # both period should be of same kind

q2y13 Start Time: 2012-05-01 00:00:00; End Time: 2012-07-31 23:59:59.999999999

In [13]:
q2y13.asfreq('M', how="start")

Period('2012-05', 'M')

In [14]:
m7y13 = q2y13.asfreq('M', how="end")
m7y13.end_time

Timestamp('2012-07-31 23:59:59.999999999')

In [15]:
#Time series https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html
pd.period_range(start='2017-01-01', end='2018-01-15', freq='M')

PeriodIndex(['2017-01', '2017-02', '2017-03', '2017-04', '2017-05', '2017-06',
             '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12',
             '2018-01'],
            dtype='period[M]', freq='M')

In [16]:
idx = pd.period_range('2010', periods=10, freq='Q-Jan') # Jan ending is Q4, so start with 2010Q4
idx

PeriodIndex(['2010Q4', '2011Q1', '2011Q2', '2011Q3', '2011Q4', '2012Q1',
             '2012Q2', '2012Q3', '2012Q4', '2013Q1'],
            dtype='period[Q-JAN]', freq='Q-JAN')

In [17]:
# pytz Python Time Zone
df1 = pd.read_csv('mit.csv', parse_dates=['DATE'], index_col='DATE')

In [18]:
df1.index

DatetimeIndex(['1932-01-01', '1932-01-02', '1932-01-03', '1932-01-04',
               '1932-01-05', '1932-01-06', '1932-01-07', '1932-01-08',
               '1932-01-09', '1932-01-10',
               ...
               '1932-12-22', '1932-12-23', '1932-12-24', '1932-12-25',
               '1932-12-26', '1932-12-27', '1932-12-28', '1932-12-29',
               '1932-12-30', '1932-12-31'],
              dtype='datetime64[ns]', name='DATE', length=366, freq=None)

In [19]:
df2= df1.tz_localize(tz='US/Eastern')
df2.index # EST is 5 or 4 hrs behind UTC/GMT

DatetimeIndex(['1932-01-01 00:00:00-05:00', '1932-01-02 00:00:00-05:00',
               '1932-01-03 00:00:00-05:00', '1932-01-04 00:00:00-05:00',
               '1932-01-05 00:00:00-05:00', '1932-01-06 00:00:00-05:00',
               '1932-01-07 00:00:00-05:00', '1932-01-08 00:00:00-05:00',
               '1932-01-09 00:00:00-05:00', '1932-01-10 00:00:00-05:00',
               ...
               '1932-12-22 00:00:00-05:00', '1932-12-23 00:00:00-05:00',
               '1932-12-24 00:00:00-05:00', '1932-12-25 00:00:00-05:00',
               '1932-12-26 00:00:00-05:00', '1932-12-27 00:00:00-05:00',
               '1932-12-28 00:00:00-05:00', '1932-12-29 00:00:00-05:00',
               '1932-12-30 00:00:00-05:00', '1932-12-31 00:00:00-05:00'],
              dtype='datetime64[ns, US/Eastern]', name='DATE', length=366, freq=None)

In [20]:
# Create a new DF with new time Zone
df3= df2.tz_convert(tz='America/Los_Angeles')
df3.index

DatetimeIndex(['1931-12-31 21:00:00-08:00', '1932-01-01 21:00:00-08:00',
               '1932-01-02 21:00:00-08:00', '1932-01-03 21:00:00-08:00',
               '1932-01-04 21:00:00-08:00', '1932-01-05 21:00:00-08:00',
               '1932-01-06 21:00:00-08:00', '1932-01-07 21:00:00-08:00',
               '1932-01-08 21:00:00-08:00', '1932-01-09 21:00:00-08:00',
               ...
               '1932-12-21 21:00:00-08:00', '1932-12-22 21:00:00-08:00',
               '1932-12-23 21:00:00-08:00', '1932-12-24 21:00:00-08:00',
               '1932-12-25 21:00:00-08:00', '1932-12-26 21:00:00-08:00',
               '1932-12-27 21:00:00-08:00', '1932-12-28 21:00:00-08:00',
               '1932-12-29 21:00:00-08:00', '1932-12-30 21:00:00-08:00'],
              dtype='datetime64[ns, America/Los_Angeles]', name='DATE', length=366, freq=None)

In [21]:
# from pytz import all_timezones # all_timezones
# Update the old index with new time zone
df3.index= df2.index.tz_convert(tz='Asia/Dubai')
df3.index

DatetimeIndex(['1932-01-01 09:00:00+04:00', '1932-01-02 09:00:00+04:00',
               '1932-01-03 09:00:00+04:00', '1932-01-04 09:00:00+04:00',
               '1932-01-05 09:00:00+04:00', '1932-01-06 09:00:00+04:00',
               '1932-01-07 09:00:00+04:00', '1932-01-08 09:00:00+04:00',
               '1932-01-09 09:00:00+04:00', '1932-01-10 09:00:00+04:00',
               ...
               '1932-12-22 09:00:00+04:00', '1932-12-23 09:00:00+04:00',
               '1932-12-24 09:00:00+04:00', '1932-12-25 09:00:00+04:00',
               '1932-12-26 09:00:00+04:00', '1932-12-27 09:00:00+04:00',
               '1932-12-28 09:00:00+04:00', '1932-12-29 09:00:00+04:00',
               '1932-12-30 09:00:00+04:00', '1932-12-31 09:00:00+04:00'],
              dtype='datetime64[ns, Asia/Dubai]', name='DATE', length=366, freq=None)

In [22]:
dr1 = pd.date_range(start="1/1/2020", periods=366 ,freq='D', tz='Asia/Dubai')
df1.set_index(dr1,inplace=True)
df1

                                           NAME  PRCP  TMAX  TMIN
2020-01-01 00:00:00+04:00  CAMBRIDGE MIT, MA US  0.00  39.0  30.0
2020-01-02 00:00:00+04:00  CAMBRIDGE MIT, MA US  0.96  41.0  28.0
2020-01-03 00:00:00+04:00  CAMBRIDGE MIT, MA US  0.04  34.0  29.0
2020-01-04 00:00:00+04:00  CAMBRIDGE MIT, MA US  0.00  32.0  22.0
2020-01-05 00:00:00+04:00  CAMBRIDGE MIT, MA US  0.00  34.0  22.0
...                                         ...   ...   ...   ...
2020-12-27 00:00:00+04:00  CAMBRIDGE MIT, MA US  0.30  42.0  32.0
2020-12-28 00:00:00+04:00  CAMBRIDGE MIT, MA US  0.23  43.0  37.0
2020-12-29 00:00:00+04:00  CAMBRIDGE MIT, MA US  0.00  48.0  33.0
2020-12-30 00:00:00+04:00  CAMBRIDGE MIT, MA US  0.00  51.0  37.0
2020-12-31 00:00:00+04:00  CAMBRIDGE MIT, MA US  0.00  64.0  23.0

[366 rows x 4 columns]

In [23]:
df1.shift(2) # Will shift data down

                                           NAME  PRCP  TMAX  TMIN
2020-01-01 00:00:00+04:00                   NaN   NaN   NaN   NaN
2020-01-02 00:00:00+04:00                   NaN   NaN   NaN   NaN
2020-01-03 00:00:00+04:00  CAMBRIDGE MIT, MA US  0.00  39.0  30.0
2020-01-04 00:00:00+04:00  CAMBRIDGE MIT, MA US  0.96  41.0  28.0
2020-01-05 00:00:00+04:00  CAMBRIDGE MIT, MA US  0.04  34.0  29.0
...                                         ...   ...   ...   ...
2020-12-27 00:00:00+04:00  CAMBRIDGE MIT, MA US  0.05  57.0  39.0
2020-12-28 00:00:00+04:00  CAMBRIDGE MIT, MA US  0.00  55.0  35.0
2020-12-29 00:00:00+04:00  CAMBRIDGE MIT, MA US  0.30  42.0  32.0
2020-12-30 00:00:00+04:00  CAMBRIDGE MIT, MA US  0.23  43.0  37.0
2020-12-31 00:00:00+04:00  CAMBRIDGE MIT, MA US  0.00  48.0  33.0

[366 rows x 4 columns]

In [24]:
# 5 days moving average
df1['prcp_5dma']=(df1['PRCP'] + df1['PRCP'].shift(1) + 
                  df1['PRCP'].shift(2) + df1['PRCP'].shift(3) + 
                  df1['PRCP'].shift(4))/5
df1

                                           NAME  PRCP  TMAX  TMIN  prcp_5dma
2020-01-01 00:00:00+04:00  CAMBRIDGE MIT, MA US  0.00  39.0  30.0        NaN
2020-01-02 00:00:00+04:00  CAMBRIDGE MIT, MA US  0.96  41.0  28.0        NaN
2020-01-03 00:00:00+04:00  CAMBRIDGE MIT, MA US  0.04  34.0  29.0        NaN
2020-01-04 00:00:00+04:00  CAMBRIDGE MIT, MA US  0.00  32.0  22.0        NaN
2020-01-05 00:00:00+04:00  CAMBRIDGE MIT, MA US  0.00  34.0  22.0      0.200
...                                         ...   ...   ...   ...        ...
2020-12-27 00:00:00+04:00  CAMBRIDGE MIT, MA US  0.30  42.0  32.0      0.094
2020-12-28 00:00:00+04:00  CAMBRIDGE MIT, MA US  0.23  43.0  37.0      0.118
2020-12-29 00:00:00+04:00  CAMBRIDGE MIT, MA US  0.00  48.0  33.0      0.116
2020-12-30 00:00:00+04:00  CAMBRIDGE MIT, MA US  0.00  51.0  37.0      0.106
2020-12-31 00:00:00+04:00  CAMBRIDGE MIT, MA US  0.00  64.0  23.0      0.106

[366 rows x 5 columns]

In [25]:
df_5dma = df1[['prcp_5dma']]

In [26]:
df_5dma.index

DatetimeIndex(['2020-01-01 00:00:00+04:00', '2020-01-02 00:00:00+04:00',
               '2020-01-03 00:00:00+04:00', '2020-01-04 00:00:00+04:00',
               '2020-01-05 00:00:00+04:00', '2020-01-06 00:00:00+04:00',
               '2020-01-07 00:00:00+04:00', '2020-01-08 00:00:00+04:00',
               '2020-01-09 00:00:00+04:00', '2020-01-10 00:00:00+04:00',
               ...
               '2020-12-22 00:00:00+04:00', '2020-12-23 00:00:00+04:00',
               '2020-12-24 00:00:00+04:00', '2020-12-25 00:00:00+04:00',
               '2020-12-26 00:00:00+04:00', '2020-12-27 00:00:00+04:00',
               '2020-12-28 00:00:00+04:00', '2020-12-29 00:00:00+04:00',
               '2020-12-30 00:00:00+04:00', '2020-12-31 00:00:00+04:00'],
              dtype='datetime64[ns, Asia/Dubai]', length=366, freq='D')

In [27]:
df_5dma

                           prcp_5dma
2020-01-01 00:00:00+04:00        NaN
2020-01-02 00:00:00+04:00        NaN
2020-01-03 00:00:00+04:00        NaN
2020-01-04 00:00:00+04:00        NaN
2020-01-05 00:00:00+04:00      0.200
...                              ...
2020-12-27 00:00:00+04:00      0.094
2020-12-28 00:00:00+04:00      0.118
2020-12-29 00:00:00+04:00      0.116
2020-12-30 00:00:00+04:00      0.106
2020-12-31 00:00:00+04:00      0.106

[366 rows x 1 columns]

In [28]:
df_5dma.tshift(-2)

                           prcp_5dma
2019-12-30 00:00:00+04:00        NaN
2019-12-31 00:00:00+04:00        NaN
2020-01-01 00:00:00+04:00        NaN
2020-01-02 00:00:00+04:00        NaN
2020-01-03 00:00:00+04:00      0.200
...                              ...
2020-12-25 00:00:00+04:00      0.094
2020-12-26 00:00:00+04:00      0.118
2020-12-27 00:00:00+04:00      0.116
2020-12-28 00:00:00+04:00      0.106
2020-12-29 00:00:00+04:00      0.106

[366 rows x 1 columns]