In [1]:
# Integrated Developement Environment(IDE) - use # for single line Comment

""" for Multiple line comment
1. Anaconda Jupyter Notebook, sdfjsdhfdsjfhdsa
2. Anaconda Spyder,
3. Jetbrains Pycharm
"""

' for Multiple line comment\n1. Anaconda Jupyter Notebook, sdfjsdhfdsjfhdsa\n2. Anaconda Spyder,\n3. Jetbrains Pycharm\n'

In [12]:
# Python Basic Data Types - Boolean, Integer, Float, String

isMale = True
age = 74
price = 11.99
name = "Donald J. Trump,"
print(type(age))

<class 'int'>

In [8]:
#breaking Arithmetic Sequence in few lines

as1 = 1 + 2 +3 + 4 + 5 + 6 + 7 + 8 + \
9 + 10 + 11 + 12 + 13 + 14 + 15 + 16

as2 = ( 1 + 2 +3 + 4 + 5 + 6 + 7 + 8 +
9 + 10 + 11 + 12 + 13 + 14 + 15 + 16)

print("output is,",name,",", as1, as2)

output is, Donald J. Trump , 136 136

In [9]:
# multiple variable & multiple assignment
x = 2.36; y = 13; z = "Multiple Assignment"
print(x,y,z); print(type(x))

# multiple variable but single assignment
x, y, z = 13, 3.42, "Single Assignment"
print(x,y,z); print(type(x))

# multiple variable but Same value
x = y = "Same Value"
print(x, y)

2.36 13 Multiple Assignment
<class 'float'>
13 3.42 Single Assignment
<class 'int'>
Same Value Same Value

In [19]:
# List are collection of mutable variable with index 0 to n-1.

l1 = [13, 342, 2.36, "Dogwood"]
print("The whole list is: ", l1)
print ("4th element in list is: ", l1[2])
l1[2] = "Spruce"
print("The whole list is: ", l1)

The whole list is:  [13, 342, 2.36, 'Dogwood']
4th element in list is:  2.36
The whole list is:  [13, 342, 'Spruce', 'Dogwood']

In [22]:
# Tuples are like list, but are immutable

c1 = (1,2)
tuple2 = (1,2,"Abc", "ewd")
print("tuple are immutable")
print(coordinates[1])
print(tuple2)

t1 = ("Tulip", 11.99)
print ("Whole Tuple is: ",t1)
print ("1st element : ",t1[0])
print ("2nd element : ",t1[1])

tuple are immutable
2
(1, 2, 'Abc', 'ewd')
Whole Tuple is:  ('Tulip', 11.99)
1st element :  Tulip
2nd element :  11.99

In [7]:
# String is immutable, but address pointer can be changed 
s1 = "Python does not attack humans by nature :)"
print (s1); print (s1[1]) #s1[2] = "s"
s1 = "but will bite and possibly constrict if it feels threatened :("
print (s1); print (s1[1]) #s1[2] = "s"

Python does not attack humans by nature :)
y
but will bite and possibly constrict if it feels threatened :(
u

In [23]:
# {Set} set contains an unordered collection of unique and immutable objects
s1 = {"Mike", "Joy", "Tom", "John", "Mary", "John", 'Mike', "Tom", "Tom", 13, "Jack", "Jill", 3.42, 23.6}

print (s1)
s1.pop();
s1.pop();
s1.add("Camel")
print (s1)
type(s1)

{3.42, 'Tom', 'Jack', 13, 'Joy', 'Jill', 'Mike', 23.6, 'Mary', 'John'}
{'Jack', 'Camel', 13, 'Joy', 'Jill', 'Mike', 23.6, 'Mary', 'John'}

set

In [9]:
# can we make set from a list?

l2 = ["camel", "duck", 11.99, 13, "duck", 11.99]
s2 = set(l2)
print(s2)

s3 = set([1, 2, 3, 2, "Joy", "Joy"])
print(s3)

# make set on the fly
s4 = {4.1, 2, "banana", 3, 1, 3, 2, "mango", "banana"}
print(s4)

{'duck', 13, 11.99, 'camel'}
{1, 2, 3, 'Joy'}
{1, 2, 3, 4.1, 'banana', 'mango'}

In [30]:
# Dictionary is unordered collection of key-value pair and it's mutable

#TO DO and FIX this

print("Key value pair - Key are unique")
monthConversions = {
    "Jan":"Janury",
    "Mar":"March",
    "Apr":"April",
    "May":"MAY",
    2:"Feb"
}

print(monthConversions[2])
print(monthConversions.get("Feb","Not a valid Key"))
print(monthConversions.get(3,"Not a valid Key"))


d1 = {1:"January", 100:"Hundred", 3:"March"}

print (d1[100])
print (d1[3])

d1[5] = "May"
print (d1)

type(d1)

Key value pair - Key are unique
Feb
Not a valid Key
Not a valid Key
Hundred
March
{1: 'January', 100: 'Hundred', 3: 'March', 5: 'May'}

dict

In [11]:
# How to distinguish set from a dictionary while creating empty set

# initialize a with {}
d2 = {}
print(type(d2))

# initialize a with set()
s5 = set()
print(type(s5))

<class 'dict'>
<class 'set'>

In [12]:
f1  = -34.2
print ("The data type of f1 is: ", type(f1))

# Convert Data Type (type casting)
i1 = int(f1)

print ("The value in i1 is: ",i1)
print ("The data type of i1 is: ", type(i1))

# Is Data Type Conversion a reversible process?
f2 = float(i1)
print ("The value in f2 is: ",f2)

# Can a string be converted to integer?
# i2 = int("str")

The data type of f1 is:  <class 'float'>
The value in i1 is:  -34
The data type of i1 is:  <class 'int'>
The value in f2 is:  -34.0

In [34]:
s3 = "String is immutable!"
s4 = "23.4"

print("dasdagdgas dasdgdgas gdadgasdg {} dagsdgasd {} dgasdg".format(s3,s4))

print ('data type of s3 is: {},,,, which contains: {}'.format(s3, s3))

l3 = list(s3)
print ('\ndata type of s3 is: {} \nwhich contains: {}'.format(type(l3), l3))

l3[19] = '?'
print ('\ndata type of s3 is: {} \nwhich contains: {}'.format(type(l3), l3))

dasdagdgas dasdgdgas gdadgasdg String is immutable! dagsdgasd 23.4 dgasdg
data type of s3 is: String is immutable!,,,, which contains: String is immutable!

data type of s3 is: <class 'list'>
which contains: ['S', 't', 'r', 'i', 'n', 'g', ' ', 'i', 's', ' ', 'i', 'm', 'm', 'u', 't', 'a', 'b', 'l', 'e', '!']

data type of s3 is: <class 'list'>
which contains: ['S', 't', 'r', 'i', 'n', 'g', ' ', 'i', 's', ' ', 'i', 'm', 'm', 'u', 't', 'a', 'b', 'l', 'e', '?']

In [2]:
# Let us format Input & Output :) print(*objects, sep=' ', end='\n', file=sys.stdout, flush=False)

print(13, 3.42, 2.36, True)
print(13, 3.42, 2.36, True, sep=', ')
print(13, 3.42, 2.36, True, sep=', ', end=' EOL')

age = 74
name = "Donald J. Trump"
print('\n\nPresident {} is {} years old'.format(name,age))
print('President {0} is\n {1} years old'.format(name,age))
print('President {0} is {1} years old'.format(age,name))
print('President {1} is {0} years old'.format(name,age))
print('President {1} is {0} years old'.format(age,name))
print('President {name} is {age} years old'.format(name='Barack H. Obama', age=59))

13 3.42 2.36 True
13, 3.42, 2.36, True
13, 3.42, 2.36, True EOL

President Donald J. Trump is 74 years old
President Donald J. Trump is
 74 years old
President 74 is Donald J. Trump years old
President 74 is Donald J. Trump years old
President Donald J. Trump is 74 years old
President Barack H. Obama is 59 years old

In [38]:
x = input('Enter $$$ you have at home:')
y = input('Enter $$$ you have at bank:')

i1 = int(x)
i2 = int(y)
i3 = i1 + i2

print('The total you have is {}, which is sum of {} and {}'.format(i3,i1,i2))

Enter $$$ you have at home:home
Enter $$$ you have at bank:bank

ValueError: invalid literal for int() with base 10: 'home'