In [1]:
dir

In [2]:
pwd

'/Users/pichappan/Documents/SamplePython/notebook'

In [3]:
cd ../input

/Users/pichappan/Documents/SamplePython/input

In [4]:
import pandas as pd

In [5]:
df1 = pd.read_csv('AAPL.csv')
df1.head()

  Stock      Date       Close
0  AAPL  4/1/2020  240.910004
1  AAPL  4/2/2020  244.929993
2  AAPL  4/3/2020  241.410004

In [6]:
df2 = pd.read_csv('GOOG.csv')
df2.head()

  Stock      Date        Close
0  GOOG  4/1/2020  1105.619995
1  GOOG  4/2/2020  1120.839966
2  GOOG  4/4/2020  1097.880005

In [7]:
df3 = pd.read_csv('TSLA.csv')
df3.head()

  Stock      Date       Close
0  TSLA  4/1/2020  481.559998
1  TSLA  4/3/2020  480.010010

In [14]:
# This is Intersection or like SQL Inner Join Default how="inner"
df4 = pd.merge(df1, df2, on='Date', how='inner')
df4.dtypes
df4

  Stock_x      Date     Close_x Stock_y      Close_y
0    AAPL  4/1/2020  240.910004    GOOG  1105.619995
1    AAPL  4/2/2020  244.929993    GOOG  1120.839966

In [18]:
# This is Union or like SQL Outer Join
df4 = pd.merge(df1, df2, on='Date', how='outer', indicator=True)
df4.dtypes
df4

  Stock_x      Date     Close_x Stock_y      Close_y      _merge
0    AAPL  4/1/2020  240.910004    GOOG  1105.619995        both
1    AAPL  4/2/2020  244.929993    GOOG  1120.839966        both
2    AAPL  4/3/2020  241.410004     NaN          NaN   left_only
3     NaN  4/4/2020         NaN    GOOG  1097.880005  right_only

In [17]:
# All rows from Right Dataframe in included then matched with right Dataframe
# _x, _y auto asince we have dupe names
df4 = pd.merge(df1, df2, on='Date', how='right', indicator=True)
df4.dtypes
df4

  Stock_x      Date     Close_x Stock_y      Close_y      _merge
0    AAPL  4/1/2020  240.910004    GOOG  1105.619995        both
1    AAPL  4/2/2020  244.929993    GOOG  1120.839966        both
2     NaN  4/4/2020         NaN    GOOG  1097.880005  right_only

In [21]:
# All rows from Right Dataframe in included then matched with right Dataframe
# _x, _y auto asince we have dupe names
df4 = pd.merge(df1, df2, on='Date', how='right', indicator=True, suffixes=('1','2'))
df4.dtypes
df4

  Stock1      Date      Close1 Stock2       Close2      _merge
0   AAPL  4/1/2020  240.910004   GOOG  1105.619995        both
1   AAPL  4/2/2020  244.929993   GOOG  1120.839966        both
2    NaN  4/4/2020         NaN   GOOG  1097.880005  right_only

In [12]:
dfA = pd.read_csv('AAPL.csv', parse_dates=['Date'])
dfA.set_index("Date", inplace=True)
dfA.head()

           Stock       Close
Date
2020-04-01  AAPL  240.910004
2020-04-02  AAPL  244.929993
2020-04-03  AAPL  241.410004

In [13]:
dfG = pd.read_csv('GOOG.csv', parse_dates=['Date'])
dfG.set_index("Date", inplace=True)
dfG.head()

           Stock        Close
Date
2020-04-01  GOOG  1105.619995
2020-04-02  GOOG  1120.839966
2020-04-04  GOOG  1097.880005

In [14]:
dfT = pd.read_csv('TSLA.csv', parse_dates=['Date'])
dfT.set_index("Date", inplace=True)
dfT.head()

           Stock       Close
Date
2020-04-01  TSLA  481.559998
2020-04-03  TSLA  480.010010

In [15]:
# to concat side by side, ass axis=1. Watchout - rows will like up by index column
pd.concat([dfA, dfG, dfT], axis=1)

           Stock       Close Stock        Close Stock       Close
Date
2020-04-01  AAPL  240.910004  GOOG  1105.619995  TSLA  481.559998
2020-04-02  AAPL  244.929993  GOOG  1120.839966   NaN         NaN
2020-04-03  AAPL  241.410004   NaN          NaN  TSLA  480.010010
2020-04-04   NaN         NaN  GOOG  1097.880005   NaN         NaN

In [16]:
df6 = pd.concat([df1, df2, df3], ignore_index=True)
df6.columns
df6

  Stock      Date        Close
0  AAPL  4/1/2020   240.910004
1  AAPL  4/2/2020   244.929993
2  AAPL  4/3/2020   241.410004
3  GOOG  4/1/2020  1105.619995
4  GOOG  4/2/2020  1120.839966
5  GOOG  4/4/2020  1097.880005
6  TSLA  4/1/2020   481.559998
7  TSLA  4/3/2020   480.010010