In [92]:
rows, columns = df0.shape

In [93]:
import pandas as pd
import random
 
# Read CSV would read the CSV file over the internet too.
df0 = pd.read_csv('https://s3-eu-west-1.amazonaws.com/shanebucket/downloads/uk-500.csv')
rows, columns = df0.shape

# set a numeric id for use as an index for examples.
df0['id'] = [random.randint(0,1000) for x in range(data.shape[0])]
 
df0.head(5)

,first_name,last_name,company_name,address,city,county,postal,phone1,phone2,email,web,id
0,Aleshia,Tomkiewicz,Alan D Rosenburg Cpa Pc,14 Taylor St,St. Stephens Ward,Kent,CT2 7PP,01835-703597,01944-369967,atomkiewicz@hotmail.com,http://www.alandrosenburgcpapc.co.uk,761
1,Evan,Zigomalas,Cap Gemini America,5 Binney St,Abbey Ward,Buckinghamshire,HP11 2AX,01937-864715,01714-737668,evan.zigomalas@gmail.com,http://www.capgeminiamerica.co.uk,842
2,France,Andrade,"Elliott, John W Esq",8 Moor Place,East Southbourne and Tuckton W,Bournemouth,BH6 3BE,01347-368222,01935-821636,france.andrade@hotmail.com,http://www.elliottjohnwesq.co.uk,320
3,Ulysses,Mcwalters,"Mcmahan, Ben L",505 Exeter Rd,Hawerby cum Beesby,Lincolnshire,DN36 5RP,01912-771311,01302-601380,ulysses@hotmail.com,http://www.mcmahanbenl.co.uk,521
4,Tyisha,Veness,Champagne Room,5396 Forth Street,Greets Green and Lyng Ward,West Midlands,B70 9DT,01547-429341,01290-367248,tyisha.veness@hotmail.com,http://www.champagneroom.co.uk,702

In [94]:
Note the below while using iloc:

iloc returns a Pandas Series when one row is selected and a Pandas 
DataFrame when multiple rows are selected, or if any column in full is selected.

To counter this, pass a single-valued list if you require DataFrame output.

SyntaxError: invalid syntax (<ipython-input-94-97a6e50c494a>, line 1)

In [ ]:
# Selection of single row. Note output data type is Series.
df0.iloc[0] # first row of data frame (Aleshia Tomkiewicz) - Note a Series data type output.

In [ ]:
# Single selections using iloc and DataFrame
# Rows:
#data.iloc[0] # first row of data frame (Aleshia Tomkiewicz) - Note a Series data type output.
#data.iloc[1] # second row of data frame (Evan Zigomalas)
#data.iloc[-1] # last row of data frame (Mi Richan)
# Columns:
#data.iloc[:,0] # first column of data frame (first_name)
#data.iloc[:,1] # second column of data frame (last_name)
data.iloc[:,-1] # last column of data frame (id)

In [ ]:
# Selection of single row. Note output data type is Series.
data.iloc[2] # second row of data frame (Evan Zigomalas)

In [ ]:
data.iloc[-1] # last row of data frame (Mi Richan)

In [ ]:
# Selection of single row. Note output data type is Series.
# first column first_name of data frame
data.iloc[:,0]

In [ ]:
# second column last_name of data frame
data.iloc[:,1]

In [ ]:
# last column id2 of data frame
data.iloc[:,-1]

In [ ]:
# Single selections using iloc and DataFrame
# Rows:
#data.iloc[0] # first row of data frame (Aleshia Tomkiewicz) - Note a Series data type output.
#data.iloc[1] # second row of data frame (Evan Zigomalas)
#data.iloc[-1] # last row of data frame (Mi Richan)
# Columns:
#data.iloc[:,0] # first column of data frame (first_name)
#data.iloc[:,1] # second column of data frame (last_name)
data.iloc[:,-1] # last column of data frame (id)

In [ ]:
# Selection of multiple rows and columns with iloc, first five rows of df
data.iloc[0:5] #

In [ ]:
# select columns 0 and 1 but not 2 with all rows
data.iloc[:, 0:2]

In [ ]:
# Selection of multiple rows and columns with iloc
data.iloc[[0,3,6,24], [0,5,6]] # 1st, 4th, 7th, 25th row + 1st 6th 7th columns.

In [ ]:
# Selection of multiple rows and columns with iloc
data.iloc[0:5, 5:8] # first 5 rows and 5th, 6th, 7th columns of data frame (county -> phone1).

In [ ]:
# Selection of multiple rows and columns with iloc
#data.iloc[0:5] # first five rows of dataframe
#data.iloc[:, 0:2] # first two columns of data frame with all rows
#data.iloc[[0,3,6,24], [0,5,6]] # 1st, 4th, 7th, 25th row + 1st 6th 7th columns.
data.iloc[0:5, 5:8] # first 5 rows and 5th, 6th, 7th columns of data frame (county -> phone1).

In [ ]:
Thereâ€™s two gotchas to remember when using iloc in this manner:

Note that .iloc returns a Pandas Series when one row is selected, 
and a Pandas DataFrame when multiple rows are selected, or if any column in full is selected. 
To counter this, pass a single-valued list if you require DataFrame output.

In [ ]:
#loc

In [ ]:
The Pandas loc indexer can be used with DataFrames for two different use cases:

a.) Selecting rows by label/index
b.) Selecting rows with a boolean / conditional lookup

In [ ]:
data.set_index("last_name", inplace=True)
data.head()

In [ ]:
data.loc['Zigomalas']

In [ ]:
data.loc[['Zigomalas','Andrade']]

In [ ]:
data.loc[['Zigomalas','Andrade'],['first_name','county']]

In [ ]:
# Select rows with index values 'Andrade' and 'Veness', with all columns between 'city' and 'email'
#data.loc[['Andrade', 'Veness'], 'city':'email']
# Select same rows, with just 'first_name', 'address' and 'city' columns
#data.loc['Andrade':'Veness', ['first_name', 'address', 'city']]
 
# Change the index to be based on the 'id' column
#data.set_index('id', inplace=True)
# select the row with 'id' = 487
data.loc[487]

In [ ]:
# Select rows with index values 'Andrade' and 'Veness', with all columns between 'city' and 'email'
data.loc[['Andrade', 'Veness'], 'city':'email']

In [ ]:
# Select same rows, with just 'first_name', 'address' and 'city' columns
data.loc['Andrade':'Veness', ['first_name', 'address', 'city']]

In [ ]:
data.loc['Andrade':'Veness', 'city':'email']

In [ ]:
# Change the index to be based on the 'id' column
df0.set_index('id', inplace=True)
# select the row with 'id' = 487
df0.loc[750]

In [ ]:
2b. Boolean / Logical indexing using .loc

In [ ]:
df0.loc[df0['first_name']=='Erasmo', ['first_name','county']]

In [ ]:
df0.loc[df0['first_name']=='Erasmo', 'county'] # returns a Series

In [ ]:
df0.loc[df0['first_name']=='Erasmo', ['county']] # returns a DF

In [ ]:
# Select rows with first name Antonio, # and all columns between 'city' and 'email'
df0.loc[df0['first_name'] == 'Antonio', 'city':'email']

In [ ]:
# Select rows where the email column ends with 'hotmail.com', include all columns
df0.loc[df0['email'].str.endswith("hotmail.com")]

In [ ]:
# Select rows with last_name equal to some values, all columns (Whether elements in Series are contained in values.)
df0.loc[df0['first_name'].isin(['France', 'Tyisha', 'Eric'])]

In [ ]:
# Select rows with first name Antonio AND hotmail email addresses
df0.loc[df0['email'].str.endswith("gmail.com") & (df0['first_name'] == 'Antonio')]

In [ ]:
# select rows with id column between 100 and 200, and just return 'postal' and 'web' columns
df0.loc[(df0['id'] > 100) & (df0['id'] <= 200), ['postal', 'web','id']]

In [ ]:
# A lambda function that yields True/False values can also be used.
# Select rows where the company name has 4 words in it.
df0.loc[df0['company_name'].apply(lambda x: len(x.split(' ')) == 4)]

In [ ]:
# Selections can be achieved outside of the main .loc for clarity:
# Form a separate variable with your selections:
idx = df0['company_name'].apply(lambda x: len(x.split(' ')) == 4)
# Select only the True values in 'idx' and only the 3 columns specified:
df0.loc[idx, ['email', 'first_name', 'company']]