In [1]:
dir

In [2]:
pwd

'/Users/pichappan/Documents/SamplePython/notebook'

In [3]:
cd ../input

/Users/pichappan/Documents/SamplePython/input

In [4]:
import pandas as pd

In [5]:
%%HTML
<style type="text/css">
table.dataframe td, table.dataframe th{
    border-style : solid;
}

In [6]:
# Transformation of Date Format. US mm/dd/yyyy, EU dd/mm/yyyy, TS yyyy-mm-dd
date_samples = ["02/01/1903 9am", '05/04/1906 9:05', 
                "08/07/09 13:45", '11/10/12 032045',
                "20030201 010203", '20060504 13:15:20',
                "080709 11:20:40", '111012 5pm', 
                "2003-02-01 10:20:15", '2006-05-04 05:10',
                "2003-02-01 25:30:35",'DateString']
pd.to_datetime(date_samples, dayfirst=True, yearfirst=True, errors='coerce') # errors (ignore, raise, coerce)

DatetimeIndex(['1903-01-02 09:00:00', '1906-04-05 09:05:00',
               '2008-09-07 13:45:00', '2011-12-10 03:20:45',
               '2003-02-01 01:02:03', '2006-05-04 13:15:20',
               '2008-09-07 11:20:40', '2011-12-10 17:00:00',
               '2003-02-01 10:20:15', '2006-05-04 05:10:00',
                               'NaT',                 'NaT'],
              dtype='datetime64[ns]', freq=None)

In [7]:
# Custom Date Format - say from a CSV file
pd.to_datetime('01,02,03', format='%m,%d,%y')

Timestamp('2003-01-02 00:00:00')

In [41]:
# Formatting String Literals. We can also pass array as argument
# Epoch Relative time from birth of Unix 1970-01-01, unit('s', 'ns' default)
# pd.to_datetime(1.5*365*24*60*60*10**9) 
ts = pd.to_datetime(1.5*365*24*60*60, unit='s')
print(f"The Datatype of ts is: {type(ts)}\nThe content of ts is: {ts}")
#dir(ts)

The Datatype of ts is: <class 'pandas._libs.tslibs.timestamps.Timestamp'>
The content of ts is: 1971-07-02 12:00:00

In [51]:
# Formatting String Literals. We can also pass int64 as argument
dti = pd.to_datetime([365*24*60*60, 2*365*24*60*60, 3*365*24*60*60], unit='s')
print(f"The Datatype of dti is: {type(dti)}\nThe content of dti is: {dti}")
dti.view('int64')
#dir(dti)

The Datatype of dti is: <class 'pandas.core.indexes.datetimes.DatetimeIndex'>
The content of dti is: DatetimeIndex(['1971-01-01', '1972-01-01', '1972-12-31'], dtype='datetime64[ns]', freq=None)

['T',
 '__abs__',
 '__add__',
 '__and__',
 '__array__',
 '__array_priority__',
 '__array_wrap__',
 '__bool__',
 '__class__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__init__',
 '__init_subclass__',
 '__inv__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmul__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_add_arithmetic_ops',
 '_add_comparison_methods',
 '_add_comparison_ops',
 '_add_datetimelike_methods',
 '_add_delegate_accessors',
 '_add_logical_methods',
 '_add_logical_methods_disabled',
 '_add_numeric_methods',
 '_add_numeric_methods_add_sub_disabled',
 '_add_numeric_methods_binary',
 '_add_numeric_methods_disabled',
 '_add_numeric_methods_unary',
 '_assert_can_do_op',
 '_assert_can_do_setop',
 '_assert_safe_casting',
 '_assert_take_fillable',
 '_attributes',
 '_bool_ops',
 '_box_func',
 '_box_values',
 '_can_fast_union',
 '_can_hold_identifiers_and_holds_name',
 '_can_hold_na',
 '_can_reindex',
 '_cleanup',
 '_coerce_scalar_to_index',
 '_coerce_to_ndarray',
 '_comparables',
 '_concat',
 '_concat_same_dtype',
 '_constructor',
 '_convert_arr_indexer',
 '_convert_can_do_setop',
 '_convert_for_op',
 '_convert_index_indexer',
 '_convert_list_indexer',
 '_convert_listlike_indexer',
 '_convert_scalar_indexer',
 '_convert_slice_indexer',
 '_convert_tolerance',
 '_create_comparison_method',
 '_data',
 '_datetimelike_methods',
 '_datetimelike_ops',
 '_default_dtype',
 '_defer_to_indexing',
 '_delegate_class',
 '_delegate_method',
 '_delegate_property_get',
 '_delegate_property_set',
 '_delegated_methods',
 '_delegated_properties',
 '_deprecations',
 '_dir_additions',
 '_dir_deletions',
 '_engine',
 '_engine_type',
 '_ensure_localized',
 '_evaluate_with_datetime_like',
 '_evaluate_with_timedelta_like',
 '_extra_methods',
 '_extra_raw_methods',
 '_extra_raw_properties',
 '_fast_union',
 '_field_ops',
 '_filter_indexer_tolerance',
 '_format_attrs',
 '_format_data',
 '_format_native_types',
 '_format_space',
 '_format_with_header',
 '_formatter_func',
 '_freq',
 '_get_attributes_dict',
 '_get_fill_indexer',
 '_get_fill_indexer_searchsorted',
 '_get_grouper_for_level',
 '_get_level_number',
 '_get_level_values',
 '_get_names',
 '_get_nearest_indexer',
 '_get_reconciled_name_object',
 '_get_string_slice',
 '_get_time_micros',
 '_get_unique_index',
 '_has_complex_internals',
 '_has_same_tz',
 '_hasnans',
 '_id',
 '_infer_as_myclass',
 '_inner_indexer',
 '_internal_get_values',
 '_invalid_indexer',
 '_is_compatible_with_other',
 '_is_dates_only',
 '_is_homogeneous_type',
 '_is_memory_usage_qualified',
 '_is_monotonic_decreasing',
 '_is_monotonic_increasing',
 '_is_numeric_dtype',
 '_is_strictly_monotonic_decreasing',
 '_is_strictly_monotonic_increasing',
 '_is_unique',
 '_isnan',
 '_join_i8_wrapper',
 '_join_level',
 '_join_monotonic',
 '_join_multi',
 '_join_non_unique',
 '_join_precedence',
 '_left_indexer',
 '_left_indexer_unique',
 '_local_timestamps',
 '_map_values',
 '_maybe_cast_indexer',
 '_maybe_cast_slice_bound',
 '_maybe_mask_results',
 '_maybe_promote',
 '_maybe_update_attributes',
 '_maybe_utc_convert',
 '_mpl_repr',
 '_na_value',
 '_nan_idxs',
 '_ndarray_values',
 '_object_ops',
 '_outer_indexer',
 '_parsed_string_to_bounds',
 '_partial_date_slice',
 '_raw_methods',
 '_raw_properties',
 '_reduce',
 '_reindex_non_unique',
 '_reset_cache',
 '_reset_identity',
 '_resolution',
 '_scalar_data_error',
 '_searchsorted_monotonic',
 '_set_names',
 '_shallow_copy',
 '_shallow_copy_with_infer',
 '_simple_new',
 '_sort_levels_monotonic',
 '_string_data_error',
 '_summary',
 '_supports_partial_string_indexing',
 '_timezone',
 '_to_safe_for_reshape',
 '_try_convert_to_int_index',
 '_typ',
 '_tz',
 '_union',
 '_union_incompatible_dtypes',
 '_unpickle_compat',
 '_update_inplace',
 '_validate_for_numeric_binop',
 '_validate_for_numeric_unaryop',
 '_validate_index_level',
 '_validate_indexer',
 '_validate_names',
 '_validate_sort_keyword',
 '_values',
 '_wrap_joined_index',
 '_wrap_setop_result',
 'all',
 'any',
 'append',
 'argmax',
 'argmin',
 'argsort',
 'array',
 'asi8',
 'asof',
 'asof_locs',
 'astype',
 'ceil',
 'contains',
 'copy',
 'date',
 'day',
 'day_name',
 'dayofweek',
 'dayofyear',
 'days_in_month',
 'daysinmonth',
 'delete',
 'difference',
 'drop',
 'drop_duplicates',
 'droplevel',
 'dropna',
 'dtype',
 'dtype_str',
 'duplicated',
 'empty',
 'equals',
 'factorize',
 'fillna',
 'floor',
 'format',
 'freq',
 'freqstr',
 'get_duplicates',
 'get_indexer',
 'get_indexer_for',
 'get_indexer_non_unique',
 'get_level_values',
 'get_loc',
 'get_slice_bound',
 'get_value',
 'get_value_maybe_box',
 'get_values',
 'groupby',
 'has_duplicates',
 'hasnans',
 'holds_integer',
 'hour',
 'identical',
 'indexer_at_time',
 'indexer_between_time',
 'inferred_freq',
 'inferred_type',
 'insert',
 'intersection',
 'is_',
 'is_all_dates',
 'is_boolean',
 'is_categorical',
 'is_floating',
 'is_integer',
 'is_interval',
 'is_leap_year',
 'is_lexsorted_for_tuple',
 'is_mixed',
 'is_monotonic',
 'is_monotonic_decreasing',
 'is_monotonic_increasing',
 'is_month_end',
 'is_month_start',
 'is_normalized',
 'is_numeric',
 'is_object',
 'is_quarter_end',
 'is_quarter_start',
 'is_type_compatible',
 'is_unique',
 'is_year_end',
 'is_year_start',
 'isin',
 'isna',
 'isnull',
 'item',
 'join',
 'map',
 'max',
 'mean',
 'memory_usage',
 'microsecond',
 'min',
 'minute',
 'month',
 'month_name',
 'name',
 'names',
 'nanosecond',
 'nbytes',
 'ndim',
 'nlevels',
 'normalize',
 'notna',
 'notnull',
 'nunique',
 'offset',
 'putmask',
 'quarter',
 'ravel',
 'reindex',
 'rename',
 'repeat',
 'resolution',
 'round',
 'searchsorted',
 'second',
 'set_names',
 'set_value',
 'shape',
 'shift',
 'size',
 'slice_indexer',
 'slice_locs',
 'snap',
 'sort',
 'sort_values',
 'sortlevel',
 'strftime',
 'summary',
 'symmetric_difference',
 'take',
 'time',
 'timetz',
 'to_flat_index',
 'to_frame',
 'to_julian_date',
 'to_list',
 'to_native_types',
 'to_numpy',
 'to_period',
 'to_perioddelta',
 'to_pydatetime',
 'to_series',
 'transpose',
 'tz',
 'tz_convert',
 'tz_localize',
 'tzinfo',
 'union',
 'union_many',
 'unique',
 'value_counts',
 'values',
 'view',
 'week',
 'weekday',
 'weekday_name',
 'weekofyear',
 'where',
 'year']

In [137]:
# https://pandas.pydata.org/pandas-docs/version/0.23.4/generated/pandas.Period.html

Feb21 = pd.Period('2021-02') 
print(f"Feb21 Datatype: {type(Feb21)}\nStart Time: {Feb21.start_time}\nEnd Time: {Feb21.end_time}")

Q2y21 = pd.Period('2021Q4')
print(f"\nQ2y21 Datatype: {type(Q2y21)}\nStart Time: {Q2y21.start_time}\nEnd Time: {Q2y21.end_time}")

Q4y05 = pd.Period("4Q2020", freq='Q-FEB')
print(Q4y05)
print(f"\nQ4y05 ?? Datatype: {type(Q4y05)}\nStart Time: {Q4y05.start_time}\nEnd Time: {Q4y05.end_time}")

yr20 = pd.Period('2020')
print(f"\nyr20 Datatype: {type(yr20)}\nStart Time: {yr20.start_time}\nEnd Time: {yr20.end_time}")

dju4 = pd.Period('2020-07-04')
dju4 = pd.Period('2020-07-04', freq='D')
print(f"\nyr20 Datatype: {type(dju4)}\nStart Time: {dju4.start_time}\nEnd Time: {dju4.end_time}")

dju4 = pd.Period('2020-07-04 20:15:30', freq = 'H')
#dju4 = pd.Period('2020-07-04', freq='D')
print(f"\nyr20 Datatype: {type(dju4)}\nStart Time: {dju4.start_time}\nEnd Time: {dju4.end_time}")


#dir(yr20)
Q4y05

Feb21 Datatype: <class 'pandas._libs.tslibs.period.Period'>
Start Time: 2021-02-01 00:00:00
End Time: 2021-02-28 23:59:59.999999999

Q2y21 Datatype: <class 'pandas._libs.tslibs.period.Period'>
Start Time: 2021-10-01 00:00:00
End Time: 2021-12-31 23:59:59.999999999
2020Q4

Q4y05 ?? Datatype: <class 'pandas._libs.tslibs.period.Period'>
Start Time: 2019-12-01 00:00:00
End Time: 2020-02-29 23:59:59.999999999

yr20 Datatype: <class 'pandas._libs.tslibs.period.Period'>
Start Time: 2020-01-01 00:00:00
End Time: 2020-12-31 23:59:59.999999999

yr20 Datatype: <class 'pandas._libs.tslibs.period.Period'>
Start Time: 2020-07-04 00:00:00
End Time: 2020-07-04 23:59:59.999999999

yr20 Datatype: <class 'pandas._libs.tslibs.period.Period'>
Start Time: 2020-07-04 20:00:00
End Time: 2020-07-04 20:59:59.999999999

Period('2020Q4', 'Q-FEB')

In [133]:
dju4 + pd.offsets.Hour(2)
dju4 + pd.offsets.Day(2)

Period('2020-07-06 20:00', 'H')

In [112]:
Q4y05 + 2
dju4 +387

Period('2021-07-26', 'D')

In [78]:
y.end_time

Timestamp('2021-02-28 23:59:59.999999999')

In [140]:
Q4y05.asfreq('M', how="start")

Period('2019-12', 'M')

In [141]:
print(f"\nyr20 Datatype: {type(Q4y05)}\nStart Time: {Q4y05.start_time}\nEnd Time: {Q4y05.end_time}")

yr20 Datatype: <class 'pandas._libs.tslibs.period.Period'>
Start Time: 2019-12-01 00:00:00
End Time: 2020-02-29 23:59:59.999999999

In [142]:
Q4y05.asfreq('M', how="end")

Period('2020-02', 'M')

In [143]:
print(f"\nyr20 Datatype: {type(Q4y05)}\nStart Time: {Q4y05.start_time}\nEnd Time: {Q4y05.end_time}")

yr20 Datatype: <class 'pandas._libs.tslibs.period.Period'>
Start Time: 2019-12-01 00:00:00
End Time: 2020-02-29 23:59:59.999999999

In [144]:
Q4y05 - Q2y21 # same feq type for both
diff between time periods

IncompatibleFrequency: Input has different freq=Q-DEC from Period(freq=Q-FEB)

In [145]:
# https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html

In [149]:
idx = pd.period_range('2010','2012', freq='Q-Jan') # start with freq then look in year
idx

PeriodIndex(['2010Q4', '2011Q1', '2011Q2', '2011Q3', '2011Q4', '2012Q1',
             '2012Q2', '2012Q3', '2012Q4'],
            dtype='period[Q-JAN]', freq='Q-JAN')

In [150]:
idx[0].start_time

Timestamp('2009-11-01 00:00:00')

In [151]:
idx[0].end_time

Timestamp('2010-01-31 23:59:59.999999999')

In [158]:
idx = pd.period_range('2010', periods=10, freq='Q-Jan') # start with freq then look in year
idx

PeriodIndex(['2010Q4', '2011Q1', '2011Q2', '2011Q3', '2011Q4', '2012Q1',
             '2012Q2', '2012Q3', '2012Q4', '2013Q1'],
            dtype='period[Q-JAN]', freq='Q-JAN')

In [159]:
import numpy as np
ps =pd.Series(np.random.randn(len(idx)),idx)
ps

2010Q4   -0.134892
2011Q1    0.224871
2011Q2    1.873972
2011Q3    0.167564
2011Q4    1.066628
2012Q1    1.043427
2012Q2   -0.432473
2012Q3    0.933902
2012Q4    1.457040
2013Q1   -0.092180
Freq: Q-JAN, dtype: float64

In [165]:
ps['2011'] # filter on period index too :)

2011Q4    1.066628
2012Q1    1.043427
2012Q2   -0.432473
2012Q3    0.933902
2012Q4    1.457040
Freq: Q-JAN, dtype: float64

In [166]:
ps['2011':'2013'] # filter on period index too :)

2011Q4    1.066628
2012Q1    1.043427
2012Q2   -0.432473
2012Q3    0.933902
2012Q4    1.457040
2013Q1   -0.092180
Freq: Q-JAN, dtype: float64

In [169]:
ps2=ps.to_timestamp()
ps2

2009-11-01   -0.134892
2010-02-01    0.224871
2010-05-01    1.873972
2010-08-01    0.167564
2010-11-01    1.066628
2011-02-01    1.043427
2011-05-01   -0.432473
2011-08-01    0.933902
2011-11-01    1.457040
2012-02-01   -0.092180
Freq: QS-NOV, dtype: float64

In [170]:
ps2.index

DatetimeIndex(['2009-11-01', '2010-02-01', '2010-05-01', '2010-08-01',
               '2010-11-01', '2011-02-01', '2011-05-01', '2011-08-01',
               '2011-11-01', '2012-02-01'],
              dtype='datetime64[ns]', freq='QS-NOV')

In [171]:
ps2.to_period() # back to period

2009Q4   -0.134892
2010Q1    0.224871
2010Q2    1.873972
2010Q3    0.167564
2010Q4    1.066628
2011Q1    1.043427
2011Q2   -0.432473
2011Q3    0.933902
2011Q4    1.457040
2012Q1   -0.092180
Freq: Q-DEC, dtype: float64

In [ ]:
small project video #5

In [ ]:
# Read CSV with data parseing
df1 = pd.read_csv('mit.csv', parse_dates=['DATE'])
df1.tail()

In [ ]:
print('The datatype of DataFrame df0 is {0}'.format(type(df0)))
print('The datatype of Column Date is {0}'.format(type(df0.DATE)))
print('The datatype of df0 Date Cell is {0} \n'.format(type(df0.DATE[0])))

print('The datatype of df1 Date Cell is \n{0}'.format(df1.dtypes))

In [ ]:
# Read CSV with not only data parseing but also setting index
df2 = pd.read_csv('mit.csv', parse_dates=['DATE'], index_col='DATE')
df2.tail()

In [ ]:
print('The datatype of df1 Date Cell is \n{0}'.format(df2.dtypes))

In [ ]:
# Check index value, type, name and count
df2.index

In [ ]:
# feed partial index to DatetimeIndex
df2["1932-02"]

In [ ]:
# feed partial index to DatetimeIndex
df2["1932-02"].PRCP.max()

In [ ]:
df2["1932-02-02":"1932-02-09"]

In [ ]:
# Resample data at different frequency and apply aggregate function
df2.TMAX.resample('Q').mean()

In [ ]:
%matplotlib inline
df2.TMAX.plot()

In [ ]:
%matplotlib inline
df2.TMAX.resample('M').plot()

In [ ]:
%matplotlib inline
df2.TMAX.resample('SM').mean().plot(kind='bar')

In [ ]:
dr = pd.date_range(start="01/01/2024", end="12/31/2024", freq="D")
dr

In [ ]:
df0.set_index(dr,inplace=True)
df0.head()

In [ ]:
df3 = df0[["NAME","PRCP","TMAX","TMIN"]]
df3.head(12)

In [ ]:
# Set new frequency for DF
df4 = df3.asfreq("B").head(12)
df4

In [ ]:
#Carry Forward
df4.asfreq("D", method="pad").head(15)

In [ ]:
dr2 = pd.date_range(start="2020-01-01", periods=10, freq="B")
dr2

In [ ]:
import numpy as np
df5 = pd.Series(np.random.randint(1,100,len(df2)))
df5 = pd.Series(np.random.randint(1,100,len(dr2)), index=dr2)
df5

In [ ]:
from pandas.tseries.holiday import USFederalHolidayCalendar
from pandas.tseries.offsets import CustomBusinessDay

Holiday_US = CustomBusinessDay(calendar=USFederalHolidayCalendar())
Holiday_US

In [ ]:
from pandas.tseries.holiday import AbstractHolidayCalendar, nearest_workday, Holiday

class Holiday_JP(AbstractHolidayCalendar):
    rules = [
        Holiday('D Day', month=2, day=4, observance=nearest_workday),
        Holiday('P Day', month=2, day=14, observance=nearest_workday)
    ]

myc =   CustomBusinessDay(calendar=Holiday_JP())
myc

In [ ]:
dr3 = pd.date_range(start="2020-02-03", end="2020-02-18", freq=myc)
dr3

In [ ]:
mba = CustomBusinessDay(weekmask='Fri Sat', holidays=["2020-01-04","2020-11-28"])
pd.date_range(start="2020-01-01", end="12/31/2020", freq=mba)