In [1]:
dir

In [2]:
pwd

'/Users/pichappan/Documents/SamplePython/notebook'

In [13]:
cd ../input

/Users/pichappan/Documents/SamplePython/input

In [10]:
import pandas as pd

'/Users/pichappan/Documents/SamplePython/notebook'

In [23]:
#df from a csv file
df11 = pd.read_csv("countries_year_population.csv")
df11.head()

       country  year  population
0  Afghanistan  1952     8425333
1  Afghanistan  1957     9240934
2  Afghanistan  1962    10267083
3  Afghanistan  1967    11537966
4  Afghanistan  1972    13079460

In [22]:
#df from a excel file
df12 = pd.read_excel("countries_year_population.xlsx","tab1")
df12.tail()

FileNotFoundError: [Errno 2] No such file or directory: 'countries_year_population.xlsx'

#df from a list of tuple for each row

list_data = [
    ('AB',12,3232),
    ('BC',32,3212),
    ('HD',43,4343)
]

df3 = pd.DataFrame(list_data, columns=["country","year","pop"])

In [25]:
#df from records - list of tuples for each row.
list_data = [ ('AB',12,3232), ('BC',32,3212), ('HD',43,4343) ]

# we need to provide column name as argument as it's not in the tuple
df21 = pd.DataFrame(list_data, columns=["country","year","pop"])
df21

  country  year   pop
0      AB    12  3232
1      BC    32  3212
2      HD    43  4343

In [28]:
#df from dictionary(key,values) - using python dictionary for each column
data = {'Col1':[2,3,2,1], 'Col2':[3,3,2,1], 'Col3':[2,3,2,3] }
pd31= pd.DataFrame(data)
pd31

   Col1  Col2  Col3
0     2     3     2
1     3     3     3
2     2     2     2
3     1     1     3

In [29]:
#df from dictionary(key,values) - using python dictionary for each column
data = {'Col1':[2,3,2,1], 'Col2':[3,3,2,1], 'Col3':[2,3,2,3] }
pd32= pd.DataFrame.from_dict(data)
pd32

   Col1  Col2  Col3
0     2     3     2
1     3     3     3
2     2     2     2
3     1     1     3

In [30]:
#df from dictionary(key,values) - using python dictionary for each column
data = {'Col1':[2,3,2,1], 'Col2':[3,3,2,1], 'Col3':[2,3,2,3] }
pd33= pd.DataFrame.from_dict(data, orient='index')
pd33

      0  1  2  3
Col1  2  3  2  1
Col2  3  3  2  1
Col3  2  3  2  3

In [31]:
#df from dictionary(key,values) - using python dictionary for each column
data = {'Col1':[2,3,2,1], 'Col2':[3,3,2,1], 'Col3':[2,3,2,3] }
pd34= pd.DataFrame.from_dict(data, orient='index', columns=['A','B','C','D'])
pd34

      A  B  C  D
Col1  2  3  2  1
Col2  3  3  2  1
Col3  2  3  2  3

In [32]:
#df from list of multiple dictionary
data = [
    {'Country':'AA', 'Year':12, 'Population': 123},
    {'Country':'AB', 'Year':123},
    { 'Year':12, 'Country':'CA','Population': 14423},
    {'Year':12, 'Population': 123},
]
df41 = pd.DataFrame(data)
df41

  Country  Year  Population
0      AA    12       123.0
1      AB   123         NaN
2      CA    12     14423.0
3     NaN    12       123.0