In [1]:
dir

In [2]:
pwd

'/Users/pichappan/Documents/SamplePython/notebook'

In [3]:
cd ../input

/Users/pichappan/Documents/SamplePython/input

In [4]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [7]:
df1 = pd.read_csv("Airbnb_NYC.csv")
df1

,Boroughs,Latitude,Longitude,Prop_Type,Min_Nights,Host_Listing_Cnt,Days_Available,Review_Cnt,Reviews30d,Price
0,Bronx,40.80011,-73.91330,PrivateRoom,21.0,2.0,291,19,0.27,60.0
1,Bronx,40.80024,-73.91422,PrivateRoom,3.0,1.0,0,59,2.93,49.0
2,Bronx,40.80074,-73.91574,PrivateRoom,3.0,1.0,354,3,0.87,50.0
3,Bronx,40.80091,-73.91449,PrivateRoom,21.0,2.0,117,18,0.36,71.0
4,Bronx,40.80143,-73.91353,EntireHome,2.0,3.0,0,12,3.50,115.0
...,...,...,...,...,...,...,...,...,...,...
38728,Staten Island,40.64641,-74.08502,EntireHome,2.0,1.0,106,58,4.73,130.0
38729,Staten Island,40.64682,-74.08734,PrivateRoom,20.0,1.0,89,58,1.05,43.0
38730,Staten Island,40.64730,-74.08408,PrivateRoom,30.0,4.0,0,85,1.35,105.0
38731,Staten Island,40.64762,-74.08682,EntireHome,3.0,1.0,232,5,1.88,135.0
38732,Staten Island,40.64779,-74.08460,EntireHome,1.0,1.0,250,108,2.32,140.0

In [43]:
# Data Preprocessing
df1.Min_Nights.fillna(df1.Min_Nights.median())

0        21.0
1         3.0
2         3.0
3        21.0
4         2.0
         ...
38728     2.0
38729    20.0
38730    30.0
38731     3.0
38732     1.0
Name: Min_Nights, Length: 38733, dtype: float64

In [18]:
df1.Host_Listing_Cnt.fillna(df1.Host_Listing_Cnt.median())

0        2.0
1        1.0
2        1.0
3        2.0
4        3.0
        ...
38728    1.0
38729    1.0
38730    4.0
38731    1.0
38732    1.0
Name: Host_Listing_Cnt, Length: 38733, dtype: float64

In [17]:
df1.Days_Available.fillna(df1.Days_Available.median())

0        291
1          0
2        354
3        117
4          0
        ...
38728    106
38729     89
38730      0
38731    232
38732    250
Name: Days_Available, Length: 38733, dtype: int64

In [19]:
df1.Review_Cnt.fillna(df1.Review_Cnt.median())

0         19
1         59
2          3
3         18
4         12
        ...
38728     58
38729     58
38730     85
38731      5
38732    108
Name: Review_Cnt, Length: 38733, dtype: int64

In [20]:
df1.Reviews30d.fillna(df1.Reviews30d.median())

0        0.27
1        2.93
2        0.87
3        0.36
4        3.50
         ...
38728    4.73
38729    1.05
38730    1.35
38731    1.88
38732    2.32
Name: Reviews30d, Length: 38733, dtype: float64

In [21]:
df1.Price.fillna(df1.Price.median())

0         60.0
1         49.0
2         50.0
3         71.0
4        115.0
         ...
38728    130.0
38729     43.0
38730    105.0
38731    135.0
38732    140.0
Name: Price, Length: 38733, dtype: float64

In [22]:
df1

,Boroughs,Latitude,Longitude,Prop_Type,Min_Nights,Host_Listing_Cnt,Days_Available,Review_Cnt,Reviews30d,Price
0,Bronx,40.80011,-73.91330,PrivateRoom,21.0,2.0,291,19,0.27,60.0
1,Bronx,40.80024,-73.91422,PrivateRoom,3.0,1.0,0,59,2.93,49.0
2,Bronx,40.80074,-73.91574,PrivateRoom,3.0,1.0,354,3,0.87,50.0
3,Bronx,40.80091,-73.91449,PrivateRoom,21.0,2.0,117,18,0.36,71.0
4,Bronx,40.80143,-73.91353,EntireHome,2.0,3.0,0,12,3.50,115.0
...,...,...,...,...,...,...,...,...,...,...
38728,Staten Island,40.64641,-74.08502,EntireHome,2.0,1.0,106,58,4.73,130.0
38729,Staten Island,40.64682,-74.08734,PrivateRoom,20.0,1.0,89,58,1.05,43.0
38730,Staten Island,40.64730,-74.08408,PrivateRoom,30.0,4.0,0,85,1.35,105.0
38731,Staten Island,40.64762,-74.08682,EntireHome,3.0,1.0,232,5,1.88,135.0
38732,Staten Island,40.64779,-74.08460,EntireHome,1.0,1.0,250,108,2.32,140.0

In [35]:
# One Hot Encoding , Dummy Variables
dummiesBoroughs = pd.get_dummies(df1.Boroughs)
dummiesProp_Type = pd.get_dummies(df1.Prop_Type)

In [36]:
df2 = pd.concat([df1,dummiesBoroughs, dummiesProp_Type], axis='columns')
df2

,Boroughs,Latitude,Longitude,Prop_Type,Min_Nights,Host_Listing_Cnt,Days_Available,Review_Cnt,Reviews30d,Price,Bronx,Brooklyn,Manhattan,Queens,Staten Island,EntireHome,PrivateRoom,SharedRoom
0,Bronx,40.80011,-73.91330,PrivateRoom,21.0,2.0,291,19,0.27,60.0,1,0,0,0,0,0,1,0
1,Bronx,40.80024,-73.91422,PrivateRoom,3.0,1.0,0,59,2.93,49.0,1,0,0,0,0,0,1,0
2,Bronx,40.80074,-73.91574,PrivateRoom,3.0,1.0,354,3,0.87,50.0,1,0,0,0,0,0,1,0
3,Bronx,40.80091,-73.91449,PrivateRoom,21.0,2.0,117,18,0.36,71.0,1,0,0,0,0,0,1,0
4,Bronx,40.80143,-73.91353,EntireHome,2.0,3.0,0,12,3.50,115.0,1,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38728,Staten Island,40.64641,-74.08502,EntireHome,2.0,1.0,106,58,4.73,130.0,0,0,0,0,1,1,0,0
38729,Staten Island,40.64682,-74.08734,PrivateRoom,20.0,1.0,89,58,1.05,43.0,0,0,0,0,1,0,1,0
38730,Staten Island,40.64730,-74.08408,PrivateRoom,30.0,4.0,0,85,1.35,105.0,0,0,0,0,1,0,1,0
38731,Staten Island,40.64762,-74.08682,EntireHome,3.0,1.0,232,5,1.88,135.0,0,0,0,0,1,1,0,0
38732,Staten Island,40.64779,-74.08460,EntireHome,1.0,1.0,250,108,2.32,140.0,0,0,0,0,1,1,0,0

In [52]:
# Dummy variable Trap. Multi Colinear variables
df3 = df2.drop(['Boroughs','Staten Island', 'Prop_Type', 'EntireHome'],axis='columns')
df3.dropna(inplace=True)
df3.shape

(38331, 14)

In [53]:
#Class Object
lrModel = linear_model.LinearRegression()

In [54]:
X = df3.drop('Price',axis='columns')
X

,Latitude,Longitude,Min_Nights,Host_Listing_Cnt,Days_Available,Review_Cnt,Reviews30d,Bronx,Brooklyn,Manhattan,Queens,PrivateRoom,SharedRoom
0,40.80011,-73.91330,21.0,2.0,291,19,0.27,1,0,0,0,1,0
1,40.80024,-73.91422,3.0,1.0,0,59,2.93,1,0,0,0,1,0
2,40.80074,-73.91574,3.0,1.0,354,3,0.87,1,0,0,0,1,0
3,40.80091,-73.91449,21.0,2.0,117,18,0.36,1,0,0,0,1,0
4,40.80143,-73.91353,2.0,3.0,0,12,3.50,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
38728,40.64641,-74.08502,2.0,1.0,106,58,4.73,0,0,0,0,0,0
38729,40.64682,-74.08734,20.0,1.0,89,58,1.05,0,0,0,0,1,0
38730,40.64730,-74.08408,30.0,4.0,0,85,1.35,0,0,0,0,1,0
38731,40.64762,-74.08682,3.0,1.0,232,5,1.88,0,0,0,0,0,0
38732,40.64779,-74.08460,1.0,1.0,250,108,2.32,0,0,0,0,0,0

In [59]:
y = df3.Price
y

0         60.0
1         49.0
2         50.0
3         71.0
4        115.0
         ...
38728    130.0
38729     43.0
38730    105.0
38731    135.0
38732    140.0
Name: Price, Length: 38331, dtype: float64

In [68]:
from sklearn.model_selection import train_test_split

In [73]:
#same output when random_state
Xlearn, Xtest, yLearn, yTest = train_test_split(X, y, test_size=0.35, random_state=10)

In [71]:
Xtest.shape

(13416, 13)

In [72]:
Xtest

,Latitude,Longitude,Min_Nights,Host_Listing_Cnt,Days_Available,Review_Cnt,Reviews30d,Bronx,Brooklyn,Manhattan,Queens,PrivateRoom,SharedRoom
8354,40.68521,-73.97131,2.0,1.0,324,72,1.80,0,1,0,0,0,0
24366,40.75341,-73.97313,1.0,2.0,0,1,0.05,0,0,1,0,0,0
3801,40.66293,-73.99833,5.0,1.0,0,1,0.01,0,1,0,0,0,0
10601,40.69142,-73.92472,1.0,2.0,365,4,0.55,0,1,0,0,1,0
25858,40.76294,-73.99248,2.0,1.0,0,1,0.02,0,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
20405,40.72681,-73.97955,2.0,1.0,4,1,1.00,0,0,1,0,1,0
22396,40.73858,-74.00145,2.0,1.0,0,1,0.03,0,0,1,0,0,0
28052,40.77956,-73.98098,2.0,1.0,245,215,2.13,0,0,1,0,0,0
21767,40.73348,-73.98562,2.0,1.0,72,5,0.11,0,0,1,0,0,0
12440,40.69918,-73.92886,2.0,3.0,4,32,0.63,0,1,0,0,1,0

In [70]:
Xlearn.shape

(24915, 13)

In [74]:
# Training or Learning
lrModel.fit(Xlearn,yLearn)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [75]:
lrModel.predict([[40.80024, -73.91422, 13.0, 1.0, 0, 29, 2.93, 1, 0, 0, 0, 1,0]])

array([30.50085356])

In [78]:
lrModel.score(Xtest,yTest)

0.10925255439405834

In [76]:
lrModel.predict(Xtest)

array([221.68536581, 229.20022959, 232.24429622, ..., 117.32655351,
       185.46582762, 159.6579833 ])

In [77]:
yTest

1882     100.0
21525    225.0
25861    130.0
22838    300.0
33195    199.0
         ...
6748     100.0
8628     265.0
28640    100.0
9751     149.0
17140    240.0
Name: Price, Length: 13416, dtype: float64