## Lists, Dictionaries and Sets in Python

## Part 1

### Lists in Python

Sequences in Python are data structures that hold objects in an ordered array. Now, we will work on Lists, the most common sequence data types in Python.

In [1]:
#Example 
l1 = ['learning', "Python", 'is fun?', True]    # Create a list l1.
print(l1)    # print list l1.

['learning', 'Python', 'is fun?', True]

List can also be created by using list() function.

In [2]:
#Example
l2 = list(("learning", "for", "life", True))
print(l2)

['learning', 'for', 'life', True]

Adding to an existing list

### Question 1

Add 10 to list l1 given above.

[ **Hint:** Use **append**]

In [0]:
l1.append(10)    # Append a number = 10 to list l1.

In [4]:
l1

['learning', 'Python', 'is fun?', True, 10]

Removing from an existing list

### Question 2

Remove 10 from l1.

[ **Hint:** Use **remove**]

In [0]:
# Removes a given object from the list. It does not return any value.
# It returns ValueError when the passed object is not present in the list.
l1.remove(10)

Joining 2 lists

### Question 3

[ **Hint: ** Use **+** operator or **extend**]

In [0]:
l1 = ['learning', "Python", 'is fun?', True]    # Create list l1.
l2 = list(("learning", "for", "life", True))

In [7]:
l1+l2    # Use of "+"" operator can easily add the whole of one list behind the other list and hence perform the concatenation.

['learning', 'Python', 'is fun?', True, 'learning', 'for', 'life', True]

In [8]:
# Extend:  Iterates over argument (in this example, argument = l2) and adding each element to the list and extending the list. 
# The length of the list increases by number of elements in it's argument.
l1.extend(l2)
print(l1)

['learning', 'Python', 'is fun?', True, 'learning', 'for', 'life', True]

Number List

### Question 4

Find Range and Mean of l3.

l3 = [2,4,6,8]

[ **Hint: ** Use **len(),sum(), min(), max()** functions ]
 
If you want to use standard functions like mean & range, you have to import them from numpy else you can calculate them the traditional way using formulas

In [0]:
l3 = [2,4,6,8]   # Create list l3.

In [10]:
sum(l3)    # Sums up the numbers in the list.

20

In [11]:
len(l3)    # Returns length of list.

4

In [12]:
print("mean:",sum(l3)/len(l3))    # calculate mean/average of list by using sum and len functions.

mean: 5.0

In [13]:
min(l3)    # Returns the minimum value of a list.

2

In [14]:
max(l3)    # Returns the maximum value of a list.

8

In [15]:
print("range:",max(l3)-min(l3))

range: 6

Count the occurances of an element in a given list.

### Question 5
Append the given sequence of numbers to l3 (given above) 0,1,3,3,5,5,7,9. Count the occurences of 5 in l3.

[ **Hint: ** Use ** + operator to add multiple elements in the array and count() function to print the occurences**]

In [16]:
(l3 + [0,1,3,3,5,5,7,9]).count(5)    # Returns count of how many times a given object occurs in list.

2

Sorting and Reversing a list

### Question 6
sort and print l3 in ascending and descending order sequentially (given above)

**(Hint: Use .sort() function)**

In [17]:
l3.sort(reverse = True)    # This function can be used to sort a list in ascending, descending or user defined order.
print(l3)

[8, 6, 4, 2]

### Functions

**Example:**

**def** function_name(args)**:**
    
    function code goes here

### Question 7

Define a function with name **sum_3** which can take 3 numbers as input, and returns sum of them.

In [0]:
def sum_3(a,b,c): 
    d = a+b+c 
    return d

In [19]:
sum_3(2,3,5)

10

### Lambda Functions

Anonymous functions or no name functions, which can be considered when you use a function only once.

**Example:**

f = lambda x, y : x + y

f(1,1)

2

### Question 8

Write the same above **sum_3** function using lambda.

In [0]:
# The syntax of lambda function is :
#     lambda arguments: expression
f = lambda x,y,z: x+y+z     # Here arguments are x, y, z and the expression to calculate is x+y+z.

In [21]:
f(1,2,3)

6